<header>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/minesweeper">Minesweeper</a>
            </li>
            <li>
                <a href="/idle-atom">Idle Atom</a>
            </li>
            <li>
                <a href="/ttyd">TTYD</a>
            </li>
            <li>
                <a href="/tictactoe">Tic-Tac-Toe</a>
            </li>
            <li class="spacer"></li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a id="navBarRegister" href="/register">Register</a>
            </li>
        </ul>
    </nav>
</header>