<!DOCTYPE html>
<html>
    <head>
        <title>Idle Atom</title>
        <link rel="stylesheet" href="./css/idle_atom.css"/>
        <script src="./js/idle_atom.js"></script>
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Idle Atom</h1>
        <div id="element_container">
            <div>
                <h3 id="hydrogen_title">Hydrogen</h3>
                <p id="hydrogen-weight">Atomic Weight: 1</p>
                <p id="hydrogen-tick-time">Tick Time: 5000</p>
            </div>
        </div>
    </body>
</html>