<!DOCTYPE html>
<html>
    <head>
        <title>Idle Atom</title>
        <link rel="stylesheet" href="./css/idle_atom.css" />
        <script defer src="./js/idle_atom.js"></script>
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Idle Atom</h1>
        <main>
            <h2 id="atomic_weight">Atomic Weight: 0</h2>
            <div id="element_container">
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>