<!DOCTYPE html>
<html>

<head>
    <title>Game Launcher</title>

    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <%- include('partials/header') %>
        <h1>Home</h1>
        <main>
            <div id="index">
                <p id="home-text">
                    Welcome to my joke app where you can browse and create jokes!
                </p>
            </div>
        </main>
        <footer>
            &copy; Copyright 2024 Δ
        </footer>
</body>

</html>