<!DOCTYPE html>
<html>

<head>
    <title>Game Launcher</title>

    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <%- include('partials/header') %>
        <h1>Home</h1>
        <main>
            <div id="index">
                <p id="home-text">
                    Welcome to our Website Game Launcher!
                </p>
            </div>
        </main>
    <%- include('partials/footer') %>
</body>

</html>