<!DOCTYPE html>
<html>

<head>
    <title>Game Launcher</title>

    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <%- include('partials/header') %>
        <h1>Home</h1>
        <main>
            <div id="index">
                <p id="home-text">
                    Δ's Website Game Launcher!
                <div id="game-covers">
                    <a id="msCover" href="http://localhost:1224/minesweeper">
                        <img src="assets/minesweeper_cover.png" alt="Minesweeper Cover Image">
                        <span>Minesweeper</span>
                    </a>
                    <a id="iaCover" href="http://localhost:1224/idle-atom">
                        <img src="assets/Idle-Atom_Cover.webp" alt="Idle Atom Cover Image">
                        <span>Idle Atom</span>
                    </a>
                    <a id="ttCover" href="http://localhost:1224/ttyd">
                        <img src="assets/minesweeper_cover.png" alt="TTYD Cover Image">
                        TTYD
                    </a>
                </div>
                </p>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>