<!DOCTYPE html>
<html>

<head>
    <title>Game Launcher</title>

    <link rel="stylesheet" href="./css/site.css" />
    <script src="./js/index.js" defer></script>
    <!-- <script defer src="./js/index.js"></script> -->
</head>

<body>
    <%- include('partials/header') %>
        <h1>Home</h1>
        <main>
            <div id="index">
                <p id="home-text">
                    Δ's Website Game Launcher!
                <div id="game-covers">
                    <a class="game-cover" id="msCover" href="http://localhost:1224/minesweeper">
                        <img class="imageCover" src="assets/minesweeper_cover.png" alt="Minesweeper Cover Image">
                        <img class="gifCover" src="https://media1.tenor.com/m/-78GG-PMf8gAAAAd/minesweeper-mine.gif" alt="Minesweeper Cover Gif">
                        <span>Minesweeper</span>
                    </a>
                    <a class="game-cover" id="iaCover" href="http://localhost:1224/idle-atom">
                        <img class="imageCover" src="assets/idle_atom.png" alt="Idle Atom Cover Image">
                        <img class="gifCover" src="assets/idle_atom.gif" alt="Idle Atom Cover Gif">
                        <span>Idle Atom</span>
                    </a>
                    <a class="game-cover" id="ttydCover" href="http://localhost:1224/ttyd">
                        <img class="imageCover" src="assets/ttydCover.png" alt="TTYD Cover Image">
                        <img class="gifCover" src="assets/ttydCover.gif" alt="TTYD Gif Cover">
                        TTYD
                    </a>
                    <a class="game-cover" id="tttCover" href="http://localhost:1224/tictactoe">
                        <img class="imageCover" src="assets/TicTacToeCover.png" alt="Tic-Tac-Toe Cover Image">
                        <img class="gifCover" src="assets/TicTacToeCover.gif" alt="Tic-Tac-Toe Gif Cover">
                        Tic-Tac-Toe
                    </a>
                </div>
                </p>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>