<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <%- include('partials/header') %>
        <h1>Login</h1>
        <main>
            <form action="/login" method="post">
                <div class="registerForm">
                    <hr>
                    <label for="username"><b>Username</b></label>
                    <% if (typeof error !=='undefined' ) { %>
                        <span id="errorMessage">
                            <%= error %>
                        </span>
                        <% } %>
                    <input type="text" id="username" name="username" placeholder="Username" required />
                    <!-- <br> -->
                    <label for="password"><b>Password</b></label>
                    <% if (typeof passwordError !=='undefined' ) { %>
                        <span id="errorMessage">
                            <%= passwordError %>
                        </span>
                        <% } %>
                    <input type="password" id="password" name="password" placeholder="Password" required />
                    <!-- <br> -->
                    <hr>
                    <button type="submit" id="login">Login</button>
                </div>
            </form>
        </main>
        <footer>
            &copy; Copyright 2024 Tristan Cable
        </footer>
</body>

</html>