<!-- minesweeper view -->
<!DOCTYPE html>
<html>

<head>
    <title>Minesweeper</title>

    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/minesweeper.css">
</head>

<body>
    <%- include('partials/header') %>
        <h1>Minesweeper</h1>
        <main>
            <h3>Don't click the mines!</h3>

            <div id="board">
                <!-- view and stuff  -->
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>