<!-- minesweeper view -->
<!DOCTYPE html>
<html>

<head>
    <title>Minesweeper</title>

    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/minesweeper.css">
    <script src="/js/minesweeper.js" defer></script>
</head>

<body>
    <%- include('partials/header') %>
        <h1>Minesweeper</h1>
        <main>
            <div id="topBar">
                <span id="mineCount">Mine Count: 0</span>
                <button onclick="resetGame()">NewGame</button>
                <span id="time">Time</span>

                <select name="difficulty" id="difficulty">
                    <option value="0">Easy</option>
                    <option value="1">Medium</option>
                    <option value="2">Hard</option>
                </select>

            <div id="boardTemp">

                <!-- view and stuff  -->
            </div>
        </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>