<!-- minesweeper view -->
<!DOCTYPE html>
<html>

<head>
    <title>Minesweeper</title>

    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/minesweeper.css">
    <script src="/js/minesweeper.js" defer></script>
</head>

<body>
    <%- include('partials/header') %>
        <h1>Minesweeper</h1>
        <main>
            <h3>Don't click the mines!</h3>

            <div id="topBar">
                <span id="mineCount">Mine Count: 0</span>
                <span id="time">Time</span>

            <div id="board">

                <!-- view and stuff  -->
            </div>
        </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>