<!-- minesweeper view -->
<!DOCTYPE html>
<html>

<head>
    <title>Minesweeper</title>

    <link rel="stylesheet" href="/css/minesweeper.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="./js/index.js" defer></script>
    <script src="/js/minesweeper.js" defer></script>
</head>

<body>
    <%- include('partials/header') %>
        <h1>Minesweeper</h1>
        <main>
            <div id="topBar">
                <span id="mineCount" class="text"></span>
                <span id="timer"  class="text"></span>
                <button onclick="resetGame()"  class="btnDropDown">NewGame</button>
                
                <select name="difficulty" id="difficulty" class="btnDropDown">
                    <option value="0">Easy</option>
                    <option value="1">Medium</option>
                    <option value="2">Hard</option>
                </select>
                

            <div id="boardTemp" oncontextmenu="return false;" ondrag="return false;" ondragstart="return false;">
            <!-- view and stuff  -->
            </div>
        </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>