<!-- minesweeper view -->
<!DOCTYPE html>
<html>

<head>
    <title>Tic-Tac-Toe</title>

    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/tictactoe.css">
    <script src="/js/tictactoe.js" defer></script>
</head>

<body>
    <%- include('partials/header') %>
        <h1>Tic-Tac-Toe</h1>
        <main>
            <div id="gameBoard">
                <div id="startGame">
                    <p>Player 1 choose X or O.</p>
                    <button id="buttonX">X</button>
                    <button id="buttonO">O</button>
                </div>
                <p id="playerTurn"></p>
                <table id="gameBoardTable">
                    <tr>
                        <td><button id="button1"></button></td>
                        <td><button id="button2"></button></td>
                        <td><button id="button3"></button></td>
                    </tr>
                    <tr>
                        <td><button id="button4"></button></td>
                        <td><button id="button5"></button></td>
                        <td><button id="button6"></button></td>
                    </tr>
                    <tr>
                        <td><button id="button7"></button></td>
                        <td><button id="button8"></button></td>
                        <td><button id="button9"></button></td>
                    </tr>
                </table>
                <button id="resetGame">Reset Game</button>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>