<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TTYD Engine</title>
        <link rel="stylesheet" href="/css/ttyd.css"/>
        <script src="/js/ttyd.js" defer></script>
        <script src="./js/index.js" defer></script>
    </head>
    <body>      
        <div id="splash" onclick="start()">
            <img class="iconSmall" src="../assets/VivianChibi.png">
            TTYD Engine
            <img class="iconSmall" src="../assets/VivianChibi.png">
        </div>
        <audio id="bgm" src="../assets/Moon Battle.mp3" loop></audio>
        <audio id="explode" src="../assets/ROBLOX Rocket Launcher Collide.mp3"></audio>
        <script>
            var audio = document.getElementById("bgm");
            audio.volume = 0.14;
        </script>

        <h3 id="marioHP">Mario: 0</h1>
        <h3 id="vivianHP">Vivian: 0</h1>
        <h3 id="flower-points">FP: 20/20</h1>
        <h3 id="selected-menu">Selected Menu</h2>
        <h5 id="turn">Turn: 1</h5>
        <h3 id="enemyHP1">0</h3>
        <h3 id="enemyHP2">0</h3>
        <h3 id="enemyHP3">0</h3>

        <div id="action-menu"></div>

        <img id="vivian" src="../assets/ViviIdle.png">
        <img id="mario" src="../assets/MarioIdle.png">
        <img id="enemy1" src="">
        <img id="enemy2" src="">
        <img id="enemy3" src="">
        <img id="curtain" src="../assets/ttydStageCurtain.png">

        <div id="end">
            <img class="iconSmall" id="img1" src="../assets/VivianChibi.png">
            <p>Thanks for playing!</p>
            <img class="iconSmall" id="img2" src="../assets/VivianChibi.png">
        </div>

    </body>
    
</html>