<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TTYD Engine</title>
        <link rel="stylesheet" href="/css/ttyd.css"/>
        <script src="/js/ttyd.js"></script>
    </head>
    <body>      
        <div id="splash" onclick="start()">
            <img class="iconSmall" src="../assets/VivianChibi.png">
            TTYD Engine
            <img class="iconSmall" src="../assets/VivianChibi.png">
        </div>
        <audio id="bgm" src="../assets/Moon Battle.mp3" loop></audio>
        
        <h1>I FREAKING HATE HTML</h1>
        <img id="vivian" src="../assets/ViviIdle.png">
        <img id="mario" src="../assets/MarioIdle.png">
        
    </body>
</html>