

.boardTemp {
    background-color: white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#easyBoard {
    background-color: white;
    width: 250px;
    height: 200px;


    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#mediumBoard {
    background-color: white;
    width: 500px;
    height: 375px;

    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#hardBoard {
    background-color: white;
    width: 625px;
    height: 500px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#topBar {
    background-color: white;
    border: 2px black solid;
    width: 625px;   

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 50px;
}


.tile:focus {
    visibility: hidden;
}

.tile {
    width: 25px;
    height: 25px;
    background-color: lightgray;
    margin: 0;
}

.tileClear {
    background-color: white;
    border-color: white;
}

.tileBomb {
    background-color: red;
}

.tileFlagged {
    background-color: blue;
}