

#board {
    background-color: white;
    width: 250px;
    height: 200px;


    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#topBar {
    background-color: white;
    border: 2px black solid;
    width: 250px;   

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#mineCount {
    
}

#time {
}

.tile {
    width: 25px;
    height: 25px;
    background-color: lightgray;
}

.tileClear {
    background-color: white;
    border-color: white;
}

.tileBomb {
    background-color: red;
}

.tileFlagged {
    background-color: blue;
}