body {
    display: flex;
    flex-direction: column;
    min-height: 940px;
    margin: 0;
    font-family: "typewriter";
}

main {
    background-color: #D0B8AC;
    flex: 1;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

footer {
    background-color: #EFE5DC;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.nav-bar {
    text-align: left;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

nav ul {
    background-color: #D0B8AC;
    height: 75px;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

ul li a {
    color: #5B4133;
    text-decoration: none;
    padding: 20px 25px;
    vertical-align: middle;
    text-align: center;
}

ul li a:hover {
    background-color: rgb(243, 216, 199, .4);
    color: #665750;
}

.nav-bar a:active {
    background-color: rgb(243, 216, 199, .3);
}

h1 {
    text-align: center;
    font-family: "american-captain";
    font-size: 50px;
    letter-spacing: 5px;
    margin: 5px;
}

#home-text {
    font-size: x-large;
}

#index {
    margin: 5px;
    text-align: center;
}