body {
    display: flex;
    flex-direction: column;
    min-height: 940px;
    margin: 0;
    font-family: "typewriter";
}

main {
    background-color: #D0B8AC;
    flex: 1;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

footer {
    background-color: #EFE5DC;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.nav-bar {
    text-align: left;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

nav ul {
    background-color: #D0B8AC;
    height: 75px;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}