body {
    display: flex;
    flex-direction: column;
    min-height: 940px;
    margin: 0;
    font-family: "typewriter";
    overflow-x: hidden;
}

main {
    background-color: #D0B8AC;
    flex: 1;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

footer {
    background-color: #EFE5DC;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.nav-bar {
    text-align: left;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}

nav ul {
    background-color: #D0B8AC;
    height: 75px;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

.nav-bar .spacer {
    flex-grow: 1;
}

ul li a {
    color: #5B4133;
    text-decoration: none;
    padding: 20px 25px;
    vertical-align: middle;
    text-align: center;
}

ul li a:hover {
    background-color: rgb(243, 216, 199, .4);
    color: #665750;
}

.nav-bar a:active {
    background-color: rgb(243, 216, 199, .3);
}

#navBarRegister {
    margin-right: 5px;
}

h1 {
    text-align: center;
    font-family: "american-captain";
    font-size: 50px;
    letter-spacing: 5px;
    margin: 5px;
}

#home-text {
    font-size: x-large;
}

#index {
    margin: 5px;
    text-align: center;
}

#game-covers {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

#game-covers a {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
    text-decoration: none;
    color: black;
}

#game-covers a:hover {
    transform: scale(1.05);
}

#game-covers img {
    width: 100%;
    max-width: fit-content;
    height: 350px;
    max-height: 60vh;
}

#msCover, #iaCover, #ttydCover, #tttCover {
    flex: 1 1 350px;
    margin: 10px;
    text-align: center;
}

.game-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.imageCover, .gifCover {
    width: 100%;
    height: auto;
    max-height: 60vh;
}

.gifCover {
    width: 100%;
    max-width: fit-content;
    height: 350px;
    max-height: 60vh;
    display: none;
}

.game-cover:hover .gifCover {
    display: block;
}

.game-cover:hover .imageCover {
    display: none;
}

* {
    box-sizing: border-box;
}

#errorMessage {
    color: red;
}

.registerForm {
    padding: 16px;
}

input[type=email],
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(235, 235, 235);
    outline: none;
}

hr {
    border: 1px solid #9e8d84;
    margin-bottom: 25px;
}

#register {
    background-color: #988074;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#register:hover {
    opacity: 1;
}

#login {
    background-color: #988074;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#login:hover {
    opacity: 1;
}

#pointsDiv {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}