body
{
    display: flex;
    flex-direction: column;
    min-height: 940px;
    margin: 0;
    font-family: "typewriter";

    background: url("../assets/Stage1.png");
    background-size: cover;
}

.iconSmall
{
    height: 50px;
    width: 50px;
}

#curtain
{
    visibility: visible;
    max-height: 940px;
    min-width: 1707px;
    background-size: cover;
    position: absolute;
}

#vivian
{
    visibility: hidden;
    height: 200px;
    width: 200px;
    position: absolute;
    left: -100px;
    top: 500px;
}

#mario
{
    visibility: hidden;
    height: 240px;
    width: 240px;
    position: absolute;
    left: -100px;
    top: 465px;
}

#enemy1
{
    visibility: hidden;
    height: 0px;
    width: 0px;
    position: absolute;
    right: 100px;
    top: 0px;
}

#enemy2
{
    visibility: hidden;
    height: 0px;
    width: 0px;
    position: absolute;
    right: 100px;
    top: 0px;
}

#enemy3
{
    visibility: hidden;
    height: 0px;
    width: 0px;
    position: absolute;
    right: 100px;
    top: 0px;
}

#splash
{
    position: fixed; top: 0; left: 0; z-index: 999;
    width: 100vw; height: 100vh;

    display: flex;
    align-items: center; justify-content: center;
    font-size: 24px;
    color: #fff; background: #000;
}

#splash.hide
{
    opacity: 0; visibility: hidden;
    transition: all 1s;
}